
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Slab:wght@500&display=swap');
/* font-family: 'Kdam Thmor Pro', sans-serif; */

html{
    margin: 0;
    padding: 0; 
       
}

body {    
    margin: 0;
    padding: 0; 
    text-align: center;
    background-color: #1B244A; /*#050505 */
    color: #ffffff;
}

.container {
    /* border: 2px solid white; */
    
    max-width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    margin: 0 auto;
}

/* Home scoreboard section */

.side-points {
    width: 200px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}
.vertical-btns {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

button {
    color: greenyellow;
    border-radius: 3px;
    border: 1px solid greenyellow;
    outline: none;
    background-color: #1B244A;
    font-size: 25px;
    margin-bottom: 5px;
}

.side-points h1 {
    /* border: 2px solid red; */
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 0;
    
}

.side-pt-cnt {
    /* border: 1px solid red;  */
    font-size: 50px;
    margin: 0;
    padding: 0;
    background: #050505;
    border-radius: 8px;
}

/* Fonts for scoreboard letters: 
            Russo One
    Fonts for numbers: 
    Kdam Thmor Pro or Roboto */

.side-bonus {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}
.side-bonus h2 {
    /* border: 2px solid white; */
    font-size: 30px;
    margin-left: 20px;   
}

/*  */
.side-bonus .circle {
    /* border: 2px solid white; */
    background: rgba(125, 28, 28, 0.523); /*rgba(195, 45, 45, 0.523); 125, 28, 28, 0.523default color state 255, 0, 0*/
    border-radius: 50%;
    width: 10px;
    height: 10px;    
}

.side-fouls {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: left;
    /* align-items: flex-start; */
    /* padding-right: 10px; */
    margin: 0;
    padding: 0;
}

.side-fouls div {
    margin-left: 10px;    
}

.side-fouls h2{ 
    font-size: 30px;
    /* border: 2px solid yellow; */
    margin: 0;
}

.side-foul-cnt {
    font-size: 50px;
    /* border: 2px solid yellow; */
    margin: 0;
    padding: 0;
    background: #050505;
    border-radius: 8px;
    margin-top: 2px;
}

.side-fouls button {
    /* border: 2px solid yellow; */
    /* margin-top: 2px; */
    margin-top: 5px;
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: #1B244A;
    font-size: 25px;
    color: greenyellow;
    border-radius: 3px;
    border: 1px solid greenyellow;
    height: 33px;
}

/* Guest Side Section */
/* Since the guest side is a carbon copy from the home side. I thought changing 
the class-names would help to cut down on re-writing code. The middle section is 
alittle different though. */

.guest-score-tally {
    margin-left: 5px;
}


/* Middle-Scoreboard  */
.middle-scoreboard {
    margin-top: 95px;
    /* border: 1px solid red; */

}

.timer-section{
    /* border: 1px solid red; */
}
.timer {
    margin-top: 0;
    /* border: 1px solid teal; */
    background-color: black;
    font-size: 50px;
    border-radius: 10px;
}
